$wrap: 1230px;

.features {
    width: $wrap;
    margin: 130px auto;
}

.feature {
    width: $wrap / 3;
    height: 260px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.feature-img {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 73px;
    height: 60px;
    background-image: url(../img/icons-features.png);
}

.feature-h2 {
    font-size: 14px;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #2d3033;
}

.feature-p {
    font-size: 14px;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    color: #6c7279;
    line-height: 21px; 
}


//иконки
.img-one {
    background: url(../img/icons-features.png) -390px;
}

.img-two {
    width: 75px;
    background: url(../img/icons-features.png) -308px;
}


.img-three {
    width: 60px;
    background: url(../img/icons-features.png) -245px;
}

.img-four {
    background: url(../img/icons-features.png) -171px;
}

.img-five {
    background: url(../img/icons-features.png);
}

.img-six {
    width: 95px;
    background: url(../img/icons-features.png) -82px;
}