$wrap: 1230px;

.match {
    margin: 0 auto;
    background: url(../img/masth-img.jpg) 50% 100% no-repeat;
    background-size: cover;
}

.match-wrapper {
    position: relative;
    width: $wrap;
    margin: 0 auto;
    height: 750px;
}

.match-header {
    height: 100px;
    border-bottom: 1px solid #51546a;
    margin-bottom: 150px;
}

.logo {
    margin-top: 40px;
}

.header-list{
    position: absolute;
    top: 40px;
    right: 15px;
}

.header-list-li {
    display: inline-block;
    vertical-align: top;   
    margin-left: 60px;
}

.header-list-link {
    text-decoration: none;
    font-size: 13px; 
    color: white;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    opacity: 0.75;

    &:hover {
        border-bottom: 1px solid white;
    }
}

.undfooter-container {
    width: 940px;
    margin: 0 auto;
    text-align: center;
}

.undfooter-h1 {
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 65px;
    color: white;
    line-height: 73px;
    margin-bottom: 30px;
    text-transform: uppercase;
}


.undfooter-p {
    font-size: 22px;
    color: white;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    line-height: 33px;
    margin-bottom: 70px;
}

.button-link {
    background-color: #e84545;
    color: white;
    font-size: 13px;
    display: inline-block;
    width: 200px;
    border-radius: 5px;
    padding: 16px 0;
    text-decoration: none;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

    &:hover {
        box-shadow: inset 0 0 15px rgba(0,0,0,0.5);
    }

    &:active {
         box-shadow: inset 0 0 35px rgba(0,0,0,0.5);
    }
}