* {
    margin: 0;
    padding: 0;
    font-size: 0;
    border: 0;
}

@import "head";
@import "features";
@import "imgs";

$wrap: 1230px;

.footer {
    height: 250px;
    background: #3a3e64;
}

.footer-wrap {
    width: $wrap;
    margin: 0 auto;
}

.foot_locations {
    width: $wrap / 3;
    height: 250px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.locations_h2 {
    font-size: 14px;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 75px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    margin-top: 75px;
    margin-bottom: 20px;
}

.locations_p {
    font-size: 14px;
    color: #fff;
    opacity: 0.5;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
}


//иконки


.ul_icons, .li_icons {
    display: inline-block;
    vertical-align: top;
}

.li_icons {
    margin-right: 7px;
}

.li_icons:last-child {
    margin-right: 0px;
}

.linkone, .linktwo, .linkthree {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;

    &:hover {
        background-color: #313454;
    }

    &:active {
         background-color: #252545;
    }
}

.linkone {
    background: url(../img/icons.svg);
}

.linktwo {
    background: url(../img/icons.svg) -47px;
}

.linkthree {
    background: url(../img/icons.svg) -95px;
}




//copoyright

.copyright {
    height: 90px;
    background: #313454;
    text-align: center;
}

.copyright-text {
    font-size: 14px;
    margin-top: 30px;
    display: inline-block;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    color: #808080;
}

.heart {
    font-size: 14px;
    color: #e84545;
}

.white {
    font-size: 14px;
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    text-decoration: none;  
}